@font-face {
  font-family: "wficonfont"; /* Project id  */
  src: url('iconfont.ttf?t=1693901239196') format('truetype');
}

.iconfont {
  font-family: "wficonfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-tool:before {
  content: "\e902";
}

.icon-gateway:before {
  content: "\e903";
}

.icon-end-event:before {
  content: "\e904";
}

.icon-intermediate-event:before {
  content: "\e905";
}

.icon-task:before {
  content: "\e906";
}

.icon-start-event:before {
  content: "\e907";
}

.icon-hand-tool:before {
  content: "\e908";
}

.icon-lasso-tool:before {
  content: "\e909";
}

.icon-subprocess:before {
  content: "\e90a";
}

.icon-gateway5:before {
  content: "\e90b";
}

.icon-gateway4:before {
  content: "\e90c";
}

.icon-gateway3:before {
  content: "\e90d";
}

.icon-gateway2:before {
  content: "\e90e";
}

.icon-gateway1:before {
  content: "\e90f";
}

.icon-delete:before {
  content: "\e969";
}

.icon-end:before {
  content: "\e9bc";
}

.icon-begin:before {
  content: "\e9bd";
}

.icon-box:before {
  content: "\e9be";
}

