/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2025-03-12 00:28:56
 */[data-v-14cdda2c]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}[data-v-14cdda2c] .vab-colorful-card .el-card__header{font-size:24px}[data-v-14cdda2c] .vab-colorful-card i{top:25px;transform:none}.project-card-description[data-v-14cdda2c]{width:calc(100% - 100px);margin-right:45px;font-size:12px;font-weight:400;line-height:20px;color:#fff}