/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2025-03-12 00:44:12
 */[data-v-2d69b6ac]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.description-container[data-v-2d69b6ac]{padding:0!important;background:#f6f8f9!important}.description-container[data-v-2d69b6ac] .el-descriptions{padding-top:20px!important}.description-container[data-v-2d69b6ac] .el-collapse{margin-top:20px!important}