/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2025-03-11 22:54:54
 */[data-v-9fedc372]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.button-container[data-v-9fedc372]{padding:0!important;background:#f6f8f9!important}.button-container[data-v-9fedc372] .el-card__body{padding-bottom:10px}.button-container[data-v-9fedc372] .el-card__body .el-button{margin:0 10px 10px}.button-container[data-v-9fedc372] .el-button-group .el-button{margin-right:0}