/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2025-03-12 00:28:56
 */[data-v-7bd4bc78]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.inputNumber-container[data-v-7bd4bc78]{padding:0!important;background:#f6f8f9!important}