/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2025-03-11 22:54:54
 */.echarts{width:600px;height:400px}[data-v-20dafa07]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.target[data-v-20dafa07]{margin-bottom:20px}[data-v-20dafa07] .target-echart1{width:100%;height:290px}[data-v-20dafa07] .target-echart2{width:100%;height:205px}