/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-13 00:56:36
 */[data-v-e470aa4c]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.button-container[data-v-e470aa4c]{padding:0!important;background:#f6f8f9!important}.button-container[data-v-e470aa4c] .el-button:first-child{margin-right:10px}.button-container[data-v-e470aa4c] .el-button+.el-button{margin-right:10px;margin-bottom:10px;margin-left:0}