/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-12 21:48:17
 */[data-v-f0ea5f0e]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.comprehensive-form-container .demo-form[data-v-f0ea5f0e]{margin-top:10px}.comprehensive-form-container[data-v-f0ea5f0e] .el-form-item__content .el-rate{display:inline-block;font-size:0;line-height:1;vertical-align:middle}.comprehensive-form-container[data-v-f0ea5f0e] .el-form-item__content .el-transfer__buttons{padding:10px 10px 0 10px}