/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-12 22:48:39
 */[data-v-38ec3191]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}[data-v-38ec3191] .el-button{margin-right:10px}[data-v-38ec3191] .el-button+.el-button{margin-right:10px;margin-left:0}[data-v-38ec3191] .el-form-item--small.el-form-item{margin-bottom:0}[data-v-38ec3191] .el-form-item--small.el-form-item .el-form-item__content>*{margin-bottom:10px}