/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-14 00:36:22
 */[data-v-5901ffdf]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.dynamic-meta-container[data-v-5901ffdf]{padding:0!important;background:#f6f8f9!important}