/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-13 02:33:52
 */[data-v-3ef10393]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.iframe-container iframe[data-v-3ef10393]{width:100%;height:calc(100vh - 205px)}