/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-13 00:34:19
 */[data-v-20b5b95a]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.select-container[data-v-20b5b95a]{padding:0!important;background:#f6f8f9!important}