/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-12 22:24:59
 */[data-v-5776ada5]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.time-picker-container[data-v-5776ada5]{padding:0!important;background:#f6f8f9!important}