/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-13 01:30:00
 */[data-v-0eedd083]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.loading-container[data-v-0eedd083]{padding:0!important;background:#f6f8f9!important}.loading-container[data-v-0eedd083] .el-button{margin-top:10px;margin-right:10px;margin-left:0}.loading-container[data-v-0eedd083] .el-button+.el-button{margin-right:10px;margin-left:0}