/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-12 22:35:00
 */[data-v-2d48617e]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.custom-table-container[data-v-2d48617e] i{cursor:pointer}.custom-table-container .border-panel[data-v-2d48617e],.custom-table-container .stripe-panel[data-v-2d48617e]{margin:0 10px 10px 10px!important}.custom-table-checkbox [class*=ri]{vertical-align:-2.5px;cursor:pointer}.custom-table-checkbox .el-checkbox{margin:5px 0 5px 8px}