/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-12 22:35:00
 */[data-v-cb385a3c]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.vab-tree-border[data-v-cb385a3c]{height:200px;padding:20px;overflow-y:auto;border:1px solid #dcdfe6;border-radius:2.5px}