/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-13 01:06:54
 */[data-v-78ced645]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.menu-management-container[data-v-78ced645]{padding:0!important;background:#f6f8f9!important}