/*!
 *  build: admin-pro 
 *  copyright: vuejs-core.cn  
 *  time: 2025-3-12 23:04:44
 */[data-v-7d43a1da]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff}.inputNumber-container[data-v-7d43a1da]{padding:0!important;background:#f6f8f9!important}