/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2024-09-27 15:46:00 
 */
.vab-tree-border[data-v-09484dba]{width:100%;height:250px;padding:var(--el-padding);overflow-y:auto;border:1px solid var(--el-border-color);border-radius:var(--el-border-radius-base)}
