/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2024-09-30 14:06:07 
 */
.custom-tree-node{display:flex;flex:1;align-items:center;justify-content:space-between;padding-right:8px;font-size:var(--el-font-size-base)}
