/*!  build: Vue Shop Vite 
     copyright: https://vuejs-core.cn/shop-vite   
     time: 2025-02-28 11:53:44 
 */
.userbiao[data-v-bca60256]{padding:20px 0;border-bottom:1px solid #efefef}.userbiao .title[data-v-bca60256]{display:flex;flex-direction:row;align-items:center;margin-bottom:15px;font-size:16px;color:#000}.userbiao .title .shuxian[data-v-bca60256]{display:block;width:4px;height:16px;margin-right:10px;background:#1890ff}
