@font-face {
  font-family: "learun_font"; /* Project id 3726265 */
  src: url('iconfont.woff2?t=1679969847308') format('woff2'),
       url('iconfont.woff?t=1679969847308') format('woff'),
       url('iconfont.ttf?t=1679969847308') format('truetype');
}


[class*="learun-icon-"] {
  font-family: "learun_font" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.learun-icon-in:before {
  content: "\eada";
}

.learun-icon-border_up:before {
  content: "\ead6";
}

.learun-icon-border_left:before {
  content: "\ead7";
}

.learun-icon-border_down:before {
  content: "\ead8";
}

.learun-icon-border_right:before {
  content: "\ead9";
}

.learun-icon-right-up-fillet:before {
  content: "\ead2";
}

.learun-icon-left-down-fillet:before {
  content: "\ead3";
}

.learun-icon-left-up-fillet:before {
  content: "\ead4";
}

.learun-icon-right-down-fillet:before {
  content: "\ead5";
}

.learun-icon-printer:before {
  content: "\ea6d";
}

.learun-icon-square-error:before {
  content: "\ea6e";
}

.learun-icon-input-box:before {
  content: "\ea6f";
}

.learun-icon-align-left:before {
  content: "\ea70";
}

.learun-icon-cloud:before {
  content: "\ea71";
}

.learun-icon-square-play:before {
  content: "\ea72";
}

.learun-icon-circle-stop:before {
  content: "\ea73";
}

.learun-icon-counter:before {
  content: "\ea74";
}

.learun-icon-history:before {
  content: "\ea75";
}

.learun-icon-digital-input:before {
  content: "\ea76";
}

.learun-icon-squarecorrect:before {
  content: "\ea77";
}

.learun-icon-rank:before {
  content: "\ea78";
}

.learun-icon-typeface:before {
  content: "\ea79";
}

.learun-icon-circle-ban:before {
  content: "\ea7a";
}

.learun-icon-circle-hint:before {
  content: "\ea7b";
}

.learun-icon-unfold-menu:before {
  content: "\ea7c";
}

.learun-icon-rate:before {
  content: "\ea7d";
}

.learun-icon-circle-play:before {
  content: "\ea7e";
}

.learun-icon-hint:before {
  content: "\ea7f";
}

.learun-icon-square-up:before {
  content: "\ea80";
}

.learun-icon-circle-down:before {
  content: "\ea81";
}

.learun-icon-book:before {
  content: "\ea82";
}

.learun-icon-square-down:before {
  content: "\ea83";
}

.learun-icon-circle-question:before {
  content: "\ea84";
}

.learun-icon-like:before {
  content: "\ea85";
}

.learun-icon-square-add:before {
  content: "\ea86";
}

.learun-icon-double-up:before {
  content: "\ea87";
}

.learun-icon-square-minus:before {
  content: "\ea88";
}

.learun-icon-square-right:before {
  content: "\ea89";
}

.learun-icon-question:before {
  content: "\ea8a";
}

.learun-icon-iphone:before {
  content: "\ea8b";
}

.learun-icon-sigh:before {
  content: "\ea8c";
}

.learun-icon-vertical-right:before {
  content: "\ea8d";
}

.learun-icon-play:before {
  content: "\ea8e";
}

.learun-icon-share:before {
  content: "\ea8f";
}

.learun-icon-upload-dragger:before {
  content: "\ea90";
}

.learun-icon-circle-error:before {
  content: "\ea91";
}

.learun-icon-password-input:before {
  content: "\ea92";
}

.learun-icon-circle-up:before {
  content: "\ea93";
}

.learun-icon-double-left:before {
  content: "\ea94";
}

.learun-icon-app:before {
  content: "\ea95";
}

.learun-icon-circle-minus:before {
  content: "\ea96";
}

.learun-icon-minus:before {
  content: "\ea97";
}

.learun-icon-log:before {
  content: "\ea98";
}

.learun-icon-circle-right:before {
  content: "\ea99";
}

.learun-icon-stop:before {
  content: "\ea9a";
}

.learun-icon-log-in:before {
  content: "\ea9b";
}

.learun-icon-phone:before {
  content: "\ea9c";
}

.learun-icon-read:before {
  content: "\ea9d";
}

.learun-icon-double-right:before {
  content: "\ea9e";
}

.learun-icon-love-base:before {
  content: "\e99f";
}

.learun-icon-correct:before {
  content: "\ea9f";
}

.learun-icon-nav-base:before {
  content: "\e9a0";
}

.learun-icon-shop:before {
  content: "\eaa0";
}

.learun-icon-eye-base:before {
  content: "\e9a1";
}

.learun-icon-square-left:before {
  content: "\eaa1";
}

.learun-icon-book-base:before {
  content: "\e9a2";
}

.learun-icon-double-down:before {
  content: "\eaa2";
}

.learun-icon-member-base:before {
  content: "\e9a3";
}

.learun-icon-vertical-top:before {
  content: "\eaa3";
}

.learun-icon-paper-base:before {
  content: "\e9a4";
}

.learun-icon-service:before {
  content: "\eaa4";
}

.learun-icon-cloud-base:before {
  content: "\e9a5";
}

.learun-icon-narrow:before {
  content: "\eaa5";
}

.learun-icon-phone-base:before {
  content: "\e9a6";
}

.learun-icon-circle-sigh:before {
  content: "\eaa6";
}

.learun-icon-pic:before {
  content: "\e9a7";
}

.learun-icon-filter:before {
  content: "\eaa7";
}

.learun-icon-star-base:before {
  content: "\e9a8";
}

.learun-icon-error:before {
  content: "\eaa8";
}

.learun-icon-work-schedule:before {
  content: "\e9a9";
}

.learun-icon-right:before {
  content: "\eaa9";
}

.learun-icon-contract:before {
  content: "\e9aa";
}

.learun-icon-left-arrow:before {
  content: "\eaaa";
}

.learun-icon-h5:before {
  content: "\e9ab";
}

.learun-icon-circle-left:before {
  content: "\eaab";
}

.learun-icon-ios:before {
  content: "\e9ac";
}

.learun-icon-down-arrow:before {
  content: "\eaac";
}

.learun-icon-google:before {
  content: "\e9ad";
}

.learun-icon-vertical-left:before {
  content: "\eaad";
}

.learun-icon-read-base:before {
  content: "\e9ae";
}

.learun-icon-up:before {
  content: "\eaae";
}

.learun-icon-classify:before {
  content: "\e9af";
}

.learun-icon-left:before {
  content: "\eaaf";
}

.learun-icon-Java:before {
  content: "\e9b0";
}

.learun-icon-full-screen:before {
  content: "\eab0";
}

.learun-icon-alipay-base:before {
  content: "\e9b1";
}

.learun-icon-up-arrow:before {
  content: "\eab1";
}

.learun-icon-ios-base:before {
  content: "\e9b2";
}

.learun-icon-unfold:before {
  content: "\eab2";
}

.learun-icon-dingtalk:before {
  content: "\e9b3";
}

.learun-icon-edit-form:before {
  content: "\eab3";
}

.learun-icon-wechat-base:before {
  content: "\e9b4";
}

.learun-icon-square-stop:before {
  content: "\eab4";
}

.learun-icon-xcx:before {
  content: "\e9b5";
}

.learun-icon-edit:before {
  content: "\eab5";
}

.learun-icon-xcx-base:before {
  content: "\e9b6";
}

.learun-icon-right-arrow:before {
  content: "\eab6";
}

.learun-icon-weibo:before {
  content: "\e9b7";
}

.learun-icon-fold-menu:before {
  content: "\eab7";
}

.learun-icon-nghtingale:before {
  content: "\e9b8";
}

.learun-icon-down:before {
  content: "\eab8";
}

.learun-icon-qq:before {
  content: "\e9b9";
}

.learun-icon-refresh:before {
  content: "\eab9";
}

.learun-icon-doughnut:before {
  content: "\e9ba";
}

.learun-icon-add:before {
  content: "\eaba";
}

.learun-icon-circle-error-base:before {
  content: "\e9bb";
}

.learun-icon-circle-add:before {
  content: "\eabb";
}

.learun-icon-alipay:before {
  content: "\e9bc";
}

.learun-icon-circle-correct:before {
  content: "\eabc";
}

.learun-icon-android:before {
  content: "\e9bd";
}

.learun-icon-vertical-bottom:before {
  content: "\eabd";
}

.learun-icon-grade-gauge:before {
  content: "\e9be";
}

.learun-icon-warning:before {
  content: "\eabe";
}

.learun-icon-vertical-left-base:before {
  content: "\e9bf";
}

.learun-icon-square-question:before {
  content: "\eabf";
}

.learun-icon-nested-pies:before {
  content: "\e9c0";
}

.learun-icon-back-top:before {
  content: "\eac0";
}

.learun-icon-wechat:before {
  content: "\e9c1";
}

.learun-icon-log-out:before {
  content: "\eac1";
}

.learun-icon-android-base:before {
  content: "\e9c2";
}

.learun-icon-form-layout:before {
  content: "\eac2";
}

.learun-icon-circle-down-base:before {
  content: "\e9c3";
}

.learun-icon-pic1:before {
  content: "\eac3";
}

.learun-icon-qq-base:before {
  content: "\e9c4";
}

.learun-icon-json:before {
  content: "\eac4";
}

.learun-icon-up-base:before {
  content: "\e9c5";
}

.learun-icon-word:before {
  content: "\eac5";
}

.learun-icon-zhihu:before {
  content: "\e9c6";
}

.learun-icon-ufo:before {
  content: "\eac6";
}

.learun-icon-warning-base:before {
  content: "\e9c7";
}

.learun-icon-translation:before {
  content: "\eac7";
}

.learun-icon-square-stop-base:before {
  content: "\e9c8";
}

.learun-icon-pdf:before {
  content: "\eac8";
}

.learun-icon-circle-right-base:before {
  content: "\e9c9";
}

.learun-icon-txt:before {
  content: "\eac9";
}

.learun-icon-circle-stop-base:before {
  content: "\e9ca";
}

.learun-icon-round:before {
  content: "\eaca";
}

.learun-icon-circle-sigh-base:before {
  content: "\e9cb";
}

.learun-icon-lock:before {
  content: "\eacb";
}

.learun-icon-square-minus-base:before {
  content: "\e9cc";
}

.learun-icon-bar-code:before {
  content: "\eacc";
}

.learun-icon-square-play-base:before {
  content: "\e9cd";
}

.learun-icon-full-screen1:before {
  content: "\eacd";
}

.learun-icon-circle-question-base:before {
  content: "\e9ce";
}

.learun-icon-reset-screen:before {
  content: "\eace";
}

.learun-icon-square-down-base:before {
  content: "\e9cf";
}

.learun-icon-cad:before {
  content: "\eacf";
}

.learun-icon-square-up-base:before {
  content: "\e9d0";
}

.learun-icon-a-3d:before {
  content: "\ead0";
}

.learun-icon-a-square-play-base2:before {
  content: "\e9d1";
}

.learun-icon-save:before {
  content: "\ead1";
}

.learun-icon-circle-minus-base:before {
  content: "\e9d2";
}

.learun-icon-circle-left-base:before {
  content: "\e9d3";
}

.learun-icon-circle-hint-base:before {
  content: "\e9d4";
}

.learun-icon-square-question-base:before {
  content: "\e9d5";
}

.learun-icon-double-left-base:before {
  content: "\e9d6";
}

.learun-icon-vertical-right-base:before {
  content: "\e9d7";
}

.learun-icon-square-right-base:before {
  content: "\e9d8";
}

.learun-icon-square-left-base:before {
  content: "\e9d9";
}

.learun-icon-a-circle-play-base2:before {
  content: "\e9da";
}

.learun-icon-double-right-base:before {
  content: "\e9db";
}

.learun-icon-circle-add-base:before {
  content: "\e9dc";
}

.learun-icon-down-base:before {
  content: "\e9dd";
}

.learun-icon-grogress-gauge:before {
  content: "\e9de";
}

.learun-icon-square-add-base:before {
  content: "\e9df";
}

.learun-icon-play-base:before {
  content: "\e9e0";
}

.learun-icon-circle-up-base:before {
  content: "\e9e1";
}

.learun-icon-circle-play-base:before {
  content: "\e9e2";
}

.learun-icon-circle-correct-base:before {
  content: "\e9e3";
}

.learun-icon-line-bar:before {
  content: "\e9e4";
}

.learun-icon-circle-ban-base:before {
  content: "\e9e5";
}

.learun-icon-wecom:before {
  content: "\e9e6";
}

.learun-icon-left-base:before {
  content: "\e9e7";
}

.learun-icon-square-error-base:before {
  content: "\e9e8";
}

.learun-icon-squarecorrect-base:before {
  content: "\e9e9";
}

.learun-icon-right-base:before {
  content: "\e9ea";
}

.learun-icon-lock-base:before {
  content: "\e9eb";
}

.learun-icon-area:before {
  content: "\e9ec";
}

.learun-icon-text:before {
  content: "\e9ed";
}

.learun-icon-bar-x:before {
  content: "\e9ee";
}

.learun-icon-bar:before {
  content: "\e9ef";
}

.learun-icon-line:before {
  content: "\e9f0";
}

.learun-icon-radar:before {
  content: "\e9f1";
}

.learun-icon-other:before {
  content: "\e9f2";
}

.learun-icon-scatter:before {
  content: "\e9f3";
}

.learun-icon-personnel:before {
  content: "\e9f4";
}

.learun-icon-official:before {
  content: "\e9f5";
}

.learun-icon-public:before {
  content: "\e9f6";
}

.learun-icon-routine:before {
  content: "\e9f7";
}

.learun-icon-sale:before {
  content: "\e9f8";
}

.learun-icon-contract1:before {
  content: "\e9f9";
}

.learun-icon-monitoring:before {
  content: "\e9fa";
}

.learun-icon-project:before {
  content: "\e9fb";
}

.learun-icon-overtime:before {
  content: "\e9fc";
}

.learun-icon-asset:before {
  content: "\e9fd";
}

.learun-icon-resources:before {
  content: "\e9fe";
}

.learun-icon-report:before {
  content: "\e9ff";
}

.learun-icon-grid:before {
  content: "\ea00";
}

.learun-icon-message:before {
  content: "\ea01";
}

.learun-icon-flow:before {
  content: "\ea02";
}

.learun-icon-template:before {
  content: "\ea03";
}

.learun-icon-signature:before {
  content: "\ea04";
}

.learun-icon-attendance:before {
  content: "\ea05";
}

.learun-icon-unit-organizations:before {
  content: "\ea06";
}

.learun-icon-guid:before {
  content: "\ea07";
}

.learun-icon-flow-task:before {
  content: "\ea08";
}

.learun-icon-form-post:before {
  content: "\ea09";
}

.learun-icon-publish:before {
  content: "\ea0a";
}

.learun-icon-system:before {
  content: "\ea0b";
}

.learun-icon-cost:before {
  content: "\ea0c";
}

.learun-icon-excel:before {
  content: "\ea0d";
}

.learun-icon-space:before {
  content: "\ea0e";
}

.learun-icon-m-function-permission:before {
  content: "\ea0f";
}

.learun-icon-m-function:before {
  content: "\ea10";
}

.learun-icon-data-permission:before {
  content: "\ea11";
}

.learun-icon-service-support:before {
  content: "\ea12";
}

.learun-icon-function-permission:before {
  content: "\ea13";
}

.learun-icon-form:before {
  content: "\ea14";
}

.learun-icon-leave:before {
  content: "\ea15";
}

.learun-icon-search:before {
  content: "\ea16";
}

.learun-icon-sliding:before {
  content: "\ea17";
}

.learun-icon-view-form:before {
  content: "\ea18";
}

.learun-icon-text-multi:before {
  content: "\ea19";
}

.learun-icon-default-flow:before {
  content: "\ea1a";
}

.learun-icon-grade:before {
  content: "\ea1b";
}

.learun-icon-doc-code:before {
  content: "\ea1c";
}

.learun-icon-default-form:before {
  content: "\ea1d";
}

.learun-icon-object:before {
  content: "\ea1e";
}

.learun-icon-tab:before {
  content: "\ea1f";
}

.learun-icon-italic:before {
  content: "\ea20";
}

.learun-icon-select:before {
  content: "\ea21";
}

.learun-icon-eye:before {
  content: "\ea22";
}

.learun-icon-radio:before {
  content: "\ea23";
}

.learun-icon-online_develop:before {
  content: "\ea24";
}

.learun-icon-tree-select:before {
  content: "\ea25";
}

.learun-icon-digital-list:before {
  content: "\ea26";
}

.learun-icon-inform:before {
  content: "\ea27";
}

.learun-icon-align-center:before {
  content: "\ea28";
}

.learun-icon-button:before {
  content: "\ea29";
}

.learun-icon-on-off:before {
  content: "\ea2a";
}

.learun-icon-menu:before {
  content: "\ea2b";
}

.learun-icon-desktop:before {
  content: "\ea2c";
}

.learun-icon-align-right:before {
  content: "\ea2d";
}

.learun-icon-upload:before {
  content: "\ea2e";
}

.learun-icon-time:before {
  content: "\ea2f";
}

.learun-icon-popup-window:before {
  content: "\ea30";
}

.learun-icon-date-range:before {
  content: "\ea31";
}

.learun-icon-color:before {
  content: "\ea32";
}

.learun-icon-entrust:before {
  content: "\ea33";
}

.learun-icon-trophy:before {
  content: "\ea34";
}

.learun-icon-task:before {
  content: "\ea35";
}

.learun-icon-co:before {
  content: "\ea36";
}

.learun-icon-text-single:before {
  content: "\ea37";
}

.learun-icon-permission:before {
  content: "\ea38";
}

.learun-icon-data:before {
  content: "\ea39";
}

.learun-icon-department:before {
  content: "\ea3a";
}

.learun-icon-more:before {
  content: "\ea3b";
}

.learun-icon-transfer:before {
  content: "\ea3c";
}

.learun-icon-radio-group:before {
  content: "\ea3d";
}

.learun-icon-editor:before {
  content: "\ea3e";
}

.learun-icon-file-upload:before {
  content: "\ea3f";
}

.learun-icon-bi:before {
  content: "\ea40";
}

.learun-icon-m-desktop:before {
  content: "\ea41";
}

.learun-icon-user:before {
  content: "\ea42";
}

.learun-icon-array-table:before {
  content: "\ea43";
}

.learun-icon-mobile-phone:before {
  content: "\ea44";
}

.learun-icon-icon:before {
  content: "\ea45";
}

.learun-icon-zoom-in:before {
  content: "\ea46";
}

.learun-icon-collapse:before {
  content: "\ea47";
}

.learun-icon-image-upload:before {
  content: "\ea48";
}

.learun-icon-cascader-select:before {
  content: "\ea49";
}

.learun-icon-rank-up:before {
  content: "\ea4a";
}

.learun-icon-provinces:before {
  content: "\ea4b";
}

.learun-icon-blod:before {
  content: "\ea4c";
}

.learun-icon-claim-expense:before {
  content: "\ea4d";
}

.learun-icon-exit:before {
  content: "\ea4e";
}

.learun-icon-select-multi:before {
  content: "\ea4f";
}

.learun-icon-member:before {
  content: "\ea50";
}

.learun-icon-love:before {
  content: "\ea51";
}

.learun-icon-date:before {
  content: "\ea53";
}

.learun-icon-underline:before {
  content: "\ea54";
}

.learun-icon-card-layout:before {
  content: "\ea55";
}

.learun-icon-paper:before {
  content: "\ea56";
}

.learun-icon-time-range:before {
  content: "\ea57";
}

.learun-icon-nav:before {
  content: "\ea58";
}

.learun-icon-zoom-out:before {
  content: "\ea59";
}

.learun-icon-multidevice:before {
  content: "\ea5a";
}

.learun-icon-array-cards:before {
  content: "\ea5b";
}

.learun-icon-no-eye:before {
  content: "\ea5c";
}

.learun-icon-parting-line:before {
  content: "\ea5d";
}

.learun-icon-star:before {
  content: "\ea5e";
}

.learun-icon-section:before {
  content: "\ea5f";
}

.learun-icon-checkbox:before {
  content: "\ea60";
}

.learun-icon-list:before {
  content: "\ea61";
}

.learun-icon-map:before {
  content: "\ea62";
}

.learun-icon-checkbox-group:before {
  content: "\ea63";
}

.learun-icon-delete:before {
  content: "\ea64";
}

.learun-icon-rank-down:before {
  content: "\ea65";
}

.learun-icon-study:before {
  content: "\ea66";
}

.learun-icon-copy:before {
  content: "\ea67";
}

.learun-icon-password:before {
  content: "\ea68";
}

.learun-icon-return:before {
  content: "\ea69";
}

.learun-icon-input-multi:before {
  content: "\ea6a";
}

.learun-icon-network:before {
  content: "\ea6b";
}

.learun-icon-cut:before {
  content: "\ea6c";
}

